{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="section section-standard" id="notifications">
    <div class="section-inner">
        <div class="section-header" data-100p-top="transform[swing]:translateY(-25px);opacity[swing]:0" data-75p-top="transform[swing]:translateY(0);opacity[swing]:1">
            <h3>Reset Password</h3>
            <div class="divider">//</div>
        </div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					{% for error in errors %}
						<div class="alert alert-info alert-dismissable" role="alert">
						  <span class="sr-only">Error:</span>
						  {{ error }}
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						</div>
					{% endfor %}
					{% if can_send_mail() %}
					<form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
						<input name='nonce' type='hidden' value="{{ nonce }}">
						{% if mode %}
						<div class="form-group">
							<label for="password-input">
								Password
							</label>
							<input class="form-control" type="password" name="password" id="password-input" />
						</div>
						{% else %}
						<div class="form-group">
							<label for="email-input">
								Email
							</label>
							<input class="form-control" type="text" name="email" id="email-input" />
						</div>
						{% endif %}
						<div class="row">
							<div class="col-md-6 offset-md-6">
								<button type="submit" id="submit" tabindex="5" class="btn btn-md btn-primary float-right">Submit</button>
							</div>
						</div>
					</form>
					{% else %}
						<h3 class="text-center">Contact a CTF organizer</h3>
						<p>This CTF is not configured to send email.</p>
						<p>Please contact an organizer to have your password reset</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('views.themes', path='js/style.js') }}"></script>
{% endblock %}
